<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <div class="resume">
        <aside class="resume-sidebar">
          <img
            class="user-photo"
            src="./images/photo.jpg"
            alt="photo"
            height="352px"
            width="370px"
          />
          <section class="contacts">
            <h2 class="contacts__title">Contacts</h2>
            <address class="contacts-address">
              <ul class="contacts-address__list">
                <li class="contacts-address__item">
                  <span class="contacts-address__symbol">C:</span>
                  <a
                    style="text-decoration: none"
                    class="contacts-address__contact"
                    href="tel:+380681193663"
                    >+38 068 119 36 63</a
                  >
                </li>
                <li class="contacts-address__item">
                  <span class="contacts-address__symbol">E:</span>
                  <a
                    class="contacts-address__contact"
                    href="mail:orezvaniuk@gmail.com"
                    >orezvaniuk@gmail.com</a
                  >
                </li>
              </ul>
            </address>
            <a target="_blank" href="https://www.facebook.com/">
              <svg>
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </section>
          <section class="tech-skills">
            <h2 class="tech-skills__title">Tech Skills</h2>
            <ul class="tech-skills__list">
              <li class="tech-skills__item">
                <span class="tech-skills__item-span">HTML</span>
              </li>
              <li class="tech-skills__item">
                <span class="tech-skills__item-span">CSS,SCSS</span>
              </li>
              <li class="tech-skills__item">
                <span class="tech-skills__item-span">WebPack</span>
              </li>
              <li class="tech-skills__item">
                <span class="tech-skills__item-span">JavaScript</span>
              </li>
              <li class="tech-skills__item">
                <span class="tech-skills__item-span">React.js</span>
              </li>
              <li class="tech-skills__item">
                <span class="tech-skills__item-span">TypeScript</span>
              </li>
              <li class="tech-skills__item">
                <span class="tech-skills__item-span">Node.js</span>
              </li>
              <li class="tech-skills__item">
                <span class="tech-skills__item-span">GIT</span>
              </li>
              <li class="tech-skills__item">
                <span class="tech-skills__item-span">Figma</span>
              </li>
            </ul>
          </section>
          <section class="soft-skills">
            <h2 class="soft-skills__title">
              <span class="soft-skills__item-span">Soft Skills</span>
            </h2>
            <ul class="soft-skills__list">
              <li class="soft-skills__item">
                <span class="soft-skills__item-span">Scrum</span>
              </li>
              <li class="soft-skills__item">
                <span class="soft-skills__item-span">Agile</span>
              </li>
              <li class="soft-skills__item">
                <span class="soft-skills__item-span">GTD</span>
              </li>
              <li class="soft-skills__item">
                <span class="soft-skills__item-span">Teamword</span>
              </li>
            </ul>
          </section>
        </aside>
        <div class="resume-info">
          <section class="hero">
            <span class="hero__text">Front-End-Developer</span>
            <h1 class="hero__title">Oles Rezvaniuk</h1>
            <p class="hero__info">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
              ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
              accumsan lacus vel facilisis.
            </p>
          </section>
          <section class="projects">
            <h2 class="projects__title">Projects</h2>
            <ol class="projects__list">
              <li class="projects__item">
                <span class="projects__item-span"
                  >https://hellenglish.goit.global/.........</span
                >[ <span class="projects__item-tech">HTML5,CSS3</span> ]
              </li>
              <li class="projects__item">
                <span class="projects__item-span"
                  >https://hellenglish.goit.global/.........</span
                >[ <span class="projects__item-tech">HTML5,CSS3</span> ]
              </li>
              <li class="projects__item">
                <span class="projects__item-span"
                  >https://hellenglish.goit.global/.........</span
                >[ <span class="projects__item-tech">HTML5,CSS3</span> ]
              </li>
              <li class="projects__item">
                <span class="projects__item-span"
                  >https://hellenglish.goit.global/.........</span
                >[ <span class="projects__item-tech">HTML5,CSS3</span> ]
              </li>
            </ol>
          </section>
          <section class="exp">
            <h2 class="exp__title">Work Experience</h2>
            <p class="exp__text">
              Front-End Developer<span class="exp__text--accent">
                Freelance</span
              >
            </p>
            <span class="exp__up-to"></span>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
